.img1 {
    background-image: url('/assets/images (2).jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 25%;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
}

.content {
    color: white;
    /* padding-top: 20rem; */
    /* padding-right: 15rem; */
    text-transform: uppercase;
}