<div class="container pt-5">
    <div class="img1">
        <div class="content text-center">
            <h1 class="text-center">switzerland </h1>
            <p class="px-5">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, earum excepturi. Beatae architecto
                suscipit odio eos molestias, neque eaque libero iste. Harum magnam nisi, quia unde ratione quam
                deleniti! Omnis.
            </p>
            <button class="btn btn-primary mt-3" routerLink="/">BACK</button>
        </div>
    </div>
</div>